# yaml-language-server: $schema=https://k8s-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${APP}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: op-secret-store
  target:
    name: ${APP}-secret
    template:
      engineVersion: v2
      data:
        WHISPARR__API_KEY: "{{ .WHISPARR_API_KEY }}"
        WHISPARR__POSTGRES_HOST: &dbHost postgres17-rw.database.svc.cluster.local
        WHISPARR__POSTGRES_PORT: "5432"
        WHISPARR__POSTGRES_USER: &dbUser "{{ .WHISPARR_POSTGRES_USER }}"
        WHISPARR__POSTGRES_PASSWORD: &dbPass "{{ .WHISPARR_POSTGRES_PASS }}"
        WHISPARR__POSTGRES_MAIN_DB: whisparrv3_main
        WHISPARR__POSTGRES_LOG_DB: whisparrv3_logs
        PUSHOVER_TOKEN: "{{ .WHISPARR_PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
        INIT_POSTGRES_DBNAME: whisparrv3_main whisparrv3_logs
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
  - extract:
      key: cloudnative-pg
  - extract:
      key: pushover
  - extract:
      key: whisparr
