# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cs2
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      cs2:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: joedwards32/cs2
              tag: 4.0.0@sha256:36febab2abdabbeffa06edfda88c1d5603805a17287ae0658e23d07d5d07cda7
            envFrom:
            - secretRef:
                name: cs2-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: 65534
    #     runAsGroup: 65534
    #     seccompProfile: {type: RuntimeDefault}
    service:
      app:
        controller: cs2
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${IPAM_IP_CS2}"
        ports:
          game-tcp:
            primary: true
            enabled: true
            port: 27015
            protocol: TCP
          game-udp:
            enabled: true
            port: 27015
            protocol: UDP
          rcon:
            enabled: true
            port: 27020
            protocol: UDP
    persistence:
      config:
        existingClaim: cs2
        globalMounts:
        - path: /home/steam/cs2/cs2-dedicated
