# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./cluster16.yaml
- ./gatus.yaml
# - ./scheduledbackup.yaml # TODO: Uncomment this line
- ./prometheusrule.yaml
- ./service.yaml
