# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./clusterimagecatalog.yaml
- ./cluster17.yaml
- ./garage-externalsecret.yaml
- ./scheduledbackup.yaml
- ./prometheusrule.yaml
- ./service.yaml
- ../../../../templates/gatus/infrastructure
