# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kubernetes/master/service-v1.json
apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  annotations:
    external-dns.alpha.kubernetes.io/hostname: postgres.${HOME_DOMAIN}
    io.cilium/lb-ipam-ips: "${IPAM_IP_POSTGRES}"
    ignore-check.kube-linter.io/dangling-service: "Selector is added by the controller"
    ignore-check.kube-linter.io/exposed-services: "This service is exposed to the intranet"
spec:
  type: LoadBalancer
  ports:
  - name: postgres
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    cnpg.io/cluster: postgres17
    role: primary
