# yaml-language-server: $schema=https://k8s-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
  - name: rook-ceph-cluster
    namespace: rook-ceph
  values:
    controllers:
      garage:
        replicas: 1
        strategy: Recreate
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.1.0@sha256:4c9b34c113e61358466e83fd6e7d66e6d18657ede14b776eb78a93ee8da7cf6a
            command:
            - /garage
            args:
            - -c
            - /etc/garage/garage.toml
            - server
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &adminPort 3903
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: [ALL]
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: garage
        ports:
          s3:
            port: 3900
          rpc:
            port: 3901
          web:
            port: 3902
          admin:
            port: *adminPort
    persistence:
      config:
        type: secret
        name: garage-config
        globalMounts:
        - path: /etc/garage
          readOnly: true
      meta:
        existingClaim: garage-meta
        globalMounts:
        - path: /var/lib/garage/meta
      data:
        type: nfs
        server: "${IPAM_IP_NFS}"
        path: /mnt/user/Backups/garage
        globalMounts:
        - path: /var/lib/garage/data
    serviceMonitor:
      app:
        serviceName: garage
        endpoints:
        - port: admin
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 10s
