# yaml-language-server: $schema=https://k8s-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: op-secret-store
  target:
    name: "${APP}-volsync"
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .VOLSYNC_NFS_PATH }}/${APP}"
        RESTIC_PASSWORD: "{{ .VOLSYNC_RESTIC_PASSWORD }}"
  dataFrom:
  - extract:
      key: volsync-restic-template
