# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app romm
  namespace: "${KS_NAMESPACE}"
spec:
  targetNamespace: &namespace games
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
  - name: cloudnative-pg-cluster
  - name: dragonfly-cluster
  - name: external-secrets-secret-store
  path: ./kubernetes/apps/games/romm/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: "${KS_GIT_REPO_NAME}"
  wait: false
  interval: "${KS_INTERVAL}"
  retryInterval: "${KS_RETRY_INTERVAL}"
  timeout: "${KS_TIMEOUT}"
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      GATUS_INTERNAL_PORT: "8080"
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_PUID: "568"
      VOLSYNC_PGID: "568"
