# yaml-language-server: $schema=https://k8s-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
spec:
  route:
    groupBy: ["alertname", "job"]
    groupInterval: 10m
    groupWait: 1m
    receiver: pagerduty
    repeatInterval: 12h
    routes:
    - receiver: "null"
      matchers:
      - name: alertname
        value: InfoInhibitor
        matchType: "="
    - receiver: heartbeat
      groupInterval: 5m
      groupWait: 0s
      repeatInterval: 5m
      matchers:
      - name: alertname
        value: Watchdog
        matchType: "="
    - receiver: "null"
      matchers:
      - name: severity
        value: info
        matchType: "="
  inhibitRules:
  - equal: ["alertname", "namespace"]
    sourceMatch:
    - name: severity
      value: critical
      matchType: "="
    targetMatch:
    - name: severity
      value: warning
      matchType: "="
  receivers:
  - name: "null"
  - name: heartbeat
    webhookConfigs:
    - urlSecret:
        name: &secret alertmanager-secret
        key: ALERTMANAGER_HEARTBEAT_URL
  - name: pagerduty
    pagerdutyConfigs:
    - description: |-
        {{- range .Alerts }}
          {{- if ne .Annotations.description "" }}
            {{ .Annotations.description }}
          {{- else if ne .Annotations.summary "" }}
            {{ .Annotations.summary }}
          {{- else if ne .Annotations.message "" }}
            {{ .Annotations.message }}
          {{- else }}
            Alert description not available
          {{- end }}
          {{- if gt (len .Labels.SortedPairs) 0 }}
            Labels:
            {{- range .Labels.SortedPairs }}
              {{ .Name }}: {{ .Value }}
            {{- end }}
          {{- end }}
        {{- end }}
      sendResolved: true
      severity: |-
        {{ if eq .Status "firing" }}critical{{ else }}info{{ end }}
      routingKey:
        name: *secret
        key: PD_ALERTMANAGER_INTEGRATION_KEY
