# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  # Fix for missing PVC permissions in chart 0.35.0
  # Remove when upgrading to chart >= 0.36.0
  - ./rbac-pvc-fix.yaml
