# yaml-language-server: $schema=https://k8s-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smtp-relay
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      smtp-relay:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.2@sha256:eeb5813fc4d101ec5d8f7b08b7255fd76ced2a06884ea94450c8a9a22fd6a08d
            env:
              SMTP_RELAY_METRICS_PORT: &metricsPort 8080
              SMTP_RELAY_SMTP_PORT: &smtpPort 25
              SMTP_RELAY_SERVER_PORT: 587
            envFrom:
            - secretRef:
                name: smtp-relay-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
    persistence:
      config:
        type: configMap
        name: smtp-relay-configmap
        globalMounts:
        - path: /data/maddy.conf
          subPath: maddy.conf
          readOnly: true
      tmp:
        type: emptyDir
        medium: Memory
    service:
      app:
        ports:
          http:
            port: *metricsPort
          smtp:
            port: *smtpPort
    serviceMonitor:
      app:
        endpoints:
        - port: http
