# yaml-language-server: $schema=https://k8s-schemas.pages.dev/externaldns.k8s.io/dnsendpoint_v1alpha1.json
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflared
spec:
  endpoints:
  - dnsName: "external.${HOME_DOMAIN}"
    recordType: CNAME
    targets: ["${SECRET_CLOUDFLARE_TUNNEL_ID}.cfargotunnel.com"]
  - dnsName: "hypermind.gg"
    recordType: CNAME
    targets: ["${SECRET_CLOUDFLARE_TUNNEL_ID}.cfargotunnel.com"]
