# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mc-router
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 4.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mc-router:
        replicas: 1
        strategy: RollingUpdate
        serviceAccount:
          identifier: *app
        containers:
          app:
            image:
              repository: itzg/mc-router
              tag: 1.39.0@sha256:b5e4bb0178d4e200a832b3ab20d99de71040db1c9081d3a8f83c9c47540447b2
            env:
              API_BINDING: 0.0.0.0:8080
              IN_KUBE_CLUSTER: "true"
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              capabilities:
                drop:
                  - ALL
            probes:
              startup:
                enabled: true
              readiness:
                enabled: true
              liveness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        seccompProfile: {type: RuntimeDefault}
      dnsConfig:
        options:
          - name: ndots
            value: "1"
    serviceAccount:
      mc-router: {}
    rbac:
      roles:
        mc-router:
          type: ClusterRole
          rules:
            - apiGroups:
                - ""
              resources:
                - services
              verbs:
                - list
                - watch
      bindings:
        mc-router:
          type: ClusterRoleBinding
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: mc-router
          subjects:
          - kind: ServiceAccount
            name: mc-router
            namespace: games
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "mc.${GAME_DOMAIN}"
          io.cilium/lb-ipam-ips: "${IPAM_IP_MC_ROUTER}"
        ports:
          api:
            port: 8080
          minecraft:
            port: 25565
            protocol: TCP
