---
# yaml-language-server: $schema=https://k8s-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n-operator
  namespace: services
spec:
  interval: 30m
  chart:
    spec:
      chart: n8n-operator
      version: 0.8.0
      sourceRef:
        kind: HelmRepository
        name: shamubernetes-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    manager:
      image:
        repository: ghcr.io/shamubernetes/n8n-operator
        tag: "0.9.0@sha256:5e4a2608e916a5a4ca8e6e2d75f81712ea62482625956b7f6a034a988e753045"
      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          cpu: 500m
          memory: 256Mi
    crd:
      enable: true
      keep: true
    metrics:
      enable: true
    prometheus:
      enable: true
