# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./defaultPodResources.yaml
- ./disallowEmptyIngress.yaml
- ./safeToEvict.yaml
- ./volsync-movers.yaml
