# yaml-language-server: $schema=https://k8s-schemas.pages.dev/comcast.github.io/khcheck_v1.json
apiVersion: comcast.github.io/v1
kind: KuberhealthyCheck
metadata:
  name: plex-no-streams
spec:
  runInterval: 1m
  timeout: 2m
  podSpec:
    containers:
    - name: check
      image: curlimages/curl:8.17.0@sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40
      env:
      - name: TZ
        value: America/New_York
      - name: TAUTULLI_API_KEY
        valueFrom:
          secretKeyRef:
            name: kuberhealthy-tautulli
            key: TAUTULLI_API_KEY
      command: ["/bin/sh", "/scripts/plex-check.sh"]
      volumeMounts:
      - name: scripts
        mountPath: /scripts
        readOnly: true
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 64Mi
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        capabilities:
          drop: ["ALL"]
    volumes:
    - name: scripts
      configMap:
        name: plex-check-script
        defaultMode: 0755
    securityContext:
      seccompProfile:
        type: RuntimeDefault
