# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: "${KS_NAMESPACE}"
spec:
  targetNamespace: &namespace security
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
  - name: external-secrets-secret-store
  # Authentik uses an ObjectBucketClaim; this depends on the rook-ceph stack CRDs.
  - name: rook-ceph
  - name: rook-ceph-cluster
  path: ./kubernetes/apps/security/authentik/app
  prune: false # never should be deleted
  sourceRef:
    kind: GitRepository
    name: "${KS_GIT_REPO_NAME}"
  wait: false
  interval: "${KS_INTERVAL}"
  retryInterval: "${KS_RETRY_INTERVAL}"
  timeout: "${KS_TIMEOUT}"
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
