# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/tuppr.home-operations.com/kubernetesupgrade_v1alpha1.json
apiVersion: tuppr.home-operations.com/v1alpha1
kind: KubernetesUpgrade
metadata:
  name: kubernetes
spec:
  kubernetes:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
    version: v1.35.1
  healthChecks:
  - apiVersion: volsync.backube/v1alpha1
    kind: ReplicationSource
    expr: |-
      status.conditions.filter(c, c.type == "Synchronizing").all(c, c.status == "False")
  - apiVersion: ceph.rook.io/v1
    kind: CephCluster
    expr: |-
      status.ceph.health in ['HEALTH_OK']
  - apiVersion: comcast.github.io/v1
    kind: KuberhealthyState
    name: plex-no-streams
    namespace: observability
    description: No active Plex streams
    expr: |-
      object.spec.OK == true
