# yaml-language-server: $schema=https://k8s-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 10m
  timeout: 10m
  chart:
    spec:
      chart: authentik
      version: 2025.10.2
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret,authentik-ceph-compat
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
      - secretRef:
          name: &secret authentik-secret
      - secretRef:
          name: authentik-ceph-compat
    authentik:
      redis:
        host: dragonfly.database.svc.cluster.local
        db: 2
    server:
      replicas: 3
      initContainers:
      - name: init-db
        image: ghcr.io/home-operations/postgres-init:18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom:
        - secretRef:
            name: *secret
      ingress:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${HOME_DOMAIN}
        ingressClassName: external
        hosts:
        - "sso.${HOME_DOMAIN}"
