# yaml-language-server: $schema=https://k8s-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: adguard-home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: op-secret-store
  target:
    name: adguard-home
    template:
      engineVersion: v2
      data:
        ORIGIN_USERNAME: &user "{{ .ADGUARD_HOME_ORIGIN_USERNAME }}"
        ORIGIN_PASSWORD: &pass "{{ .ADGUARD_HOME_ORIGIN_PASSWORD }}"
        REPLICA1_USERNAME: *user
        REPLICA1_PASSWORD: *pass
        REPLICA2_USERNAME: *user
        REPLICA2_PASSWORD: *pass
  dataFrom:
  - extract:
      key: adguard-home
