# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kubernetes/v1.30.1/clusterrolebinding-rbac-v1.json
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system-upgrade
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: system-upgrade
  namespace: system-upgrade
# yamllint disable rule:document-start
---
# yaml-language-server: $schema=https://k8s-schemas.pages.dev/talos.dev/serviceaccount_v1alpha1.json
apiVersion: talos.dev/v1alpha1
kind: ServiceAccount
metadata:
  name: talos
spec:
  roles:
  - os:admin
