# yaml-language-server: $schema=https://k8s-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sabnzbd
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: op-secret-store
  target:
    name: sabnzbd-secret
    template:
      engineVersion: v2
      data:
        SABNZBD__API_KEY: "{{ .SABNZBD_API_KEY }}"
        SABNZBD__NZB_KEY: "{{ .SABNZBD_NZB_KEY }}"
  dataFrom:
  - extract:
      key: sabnzbd
