# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kubernetes/master/configmap-v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP}-app-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
    - name: "${APP^}"
      group: "Internal Apps"
      url: "http://${GATUS_INTERNAL_APP:-${APP}}.${NAMESPACE}.svc.cluster.local:${GATUS_INTERNAL_PORT:-80}${GATUS_PATH:-/}"
      interval: 1m
      ui:
        hide-hostname: true
        hide-url: true
      conditions:
      - "[STATUS] == ${GATUS_STATUS:-200}"
      alerts:
      - type: pushover
