# yaml-language-server: $schema=https://k8s-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: n8n
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: op-secret-store
  target:
    name: n8n-secret
    template:
      engineVersion: v2
      data:
        DB_POSTGRESDB_USER: "{{ .N8N_POSTGRES_USER }}"
        DB_POSTGRESDB_PASSWORD: "{{ .N8N_POSTGRES_PASS }}"
        N8N_ENCRYPTION_KEY: "{{ .N8N_ENCRYPTION_KEY }}"
        N8N_LICENSE_ACTIVATION_KEY: "{{ .N8N_LICENSE_ACTIVATION_KEY }}"
        INIT_POSTGRES_DBNAME: n8n
        INIT_POSTGRES_HOST: postgres17-pooler.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .N8N_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .N8N_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
  - extract:
      key: n8n
  - extract:
      key: cloudnative-pg
