# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app siren
  namespace: "${KS_NAMESPACE}"
spec:
  targetNamespace: &namespace observability
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
  - name: kube-prometheus-stack
  path: ./kubernetes/apps/observability/siren/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: "${KS_GIT_REPO_NAME}"
  wait: false
  interval: "${KS_INTERVAL}"
  retryInterval: "${KS_RETRY_INTERVAL}"
  timeout: "${KS_TIMEOUT}"
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      GATUS_INTERNAL_PORT: "3000"
