# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./namespace.yaml
- ./thanos/ks.yaml
- ./prometheus-operator-crds/ks.yaml
- ./kube-prometheus-stack/ks.yaml
- ./gatus/ks.yaml
- ./vector/ks.yaml
- ./loki/ks.yaml
- ./tautulli/ks.yaml
- ./grafana/ks.yaml
- ./unpoller/ks.yaml
- ./smartctl-exporter/ks.yaml
- ./robusta/ks.yaml
