# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kubernetes/master/persistentvolumeclaim-v1.json
# Main Plex config PVC - bound to existing PV during migration
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 150Gi
  storageClassName: ceph-block
  volumeName: pvc-cf1982f6-0472-433b-9c7c-d3c3d05bc7be
