# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kubernetes/v1.30.1/persistentvolumeclaim-v1.json
# TODO: Move to volsync template
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 30Gi
  storageClassName: ceph-block
# yamllint disable rule:document-start
---
# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kubernetes/v1.30.1/persistentvolumeclaim-v1.json
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-cache
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 75Gi
  storageClassName: ceph-block
