# yaml-language-server: $schema=https://k8s-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: renovate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: op-secret-store
  target:
    name: renovate-secret
    template:
      engineVersion: v2
      data:
        # Renovate Service Options
        LOG_LEVEL: debug
        MEND_RNV_ACCEPT_TOS: "y"
        MEND_RNV_ADMIN_API_ENABLED: "true"
        MEND_RNV_CRON_APP_SYNC: "0 */1 * * *" # every hour
        MEND_RNV_CRON_JOB_SCHEDULER_ALL: "0,30 * * * *" # every 30 minutes
        MEND_RNV_ENQUEUE_JOBS_ON_STARTUP: "discovered"
        MEND_RNV_FORKS_PROCESSING: "disabled"
        MEND_RNV_PLATFORM: "github"
        MEND_RNV_REPORTING_ENABLED: "true"
        MEND_RNV_SYNC_MODE: "bulk"
        MEND_RNV_SYNC_ON_STARTUP: "true"
        MEND_RNV_WORKER_CLEANUP: '30 0 * * 0' # every week 00:30 on Sunday
        RENOVATE_PAGINATE_ALL: "true"

        # Renovate Bot Setup
        MEND_RNV_LICENSE_KEY: "{{ .RENOVATE_LICENSE_KEY }}"
        MEND_RNV_GITHUB_APP_ID: "{{ .APP_ID }}"
        MEND_RNV_GITHUB_APP_KEY: "{{ .PRIVATE_KEY | b64dec }}" # https://github.com/mend/renovate-ce-ee/issues/584
        MEND_RNV_WEBHOOK_SECRET: "{{ .RENOVATE_WEBHOOK_SECRET }}"
        MEND_RNV_SERVER_API_SECRET: "{{ .RENOVATE_SERVER_API_SECRET }}"

        # Redis
        RENOVATE_REDIS_URL: "redis://dragonfly.database.svc.cluster.local:6379/10"

        # Database
        MEND_RNV_DATA_HANDLER_TYPE: "postgresql"
        PGDATABASE: &dbName "renovate"
        PGUSER: &dbUser "{{ .RENOVATE_POSTGRES_USER }}"
        PGPASSWORD: &dbPass "{{ .RENOVATE_POSTGRES_PASS }}"
        PGHOST: &dbHost postgres17-rw.database.svc.cluster.local
        PGPORT: "5432"

        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
  - extract:
      key: renovate
  - extract:
      key: cloudnative-pg
  - extract:
      key: ShamuBot
