# yaml-language-server: $schema=https://k8s-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app stash
  namespace: "${KS_NAMESPACE}"
spec:
  targetNamespace: &namespace media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/media/stash/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: "${KS_GIT_REPO_NAME}"
  wait: false
  interval: "${KS_INTERVAL}"
  retryInterval: "${KS_RETRY_INTERVAL}"
  timeout: "${KS_TIMEOUT}"
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_PUID: "1000"
      VOLSYNC_PGID: "1000"
      VOLSYNC_SCHEDULE: "${VOLSYNC_SCHEDULE_STASH}"
      VOLSYNC_R2_SCHEDULE: "${VOLSYNC_R2_SCHEDULE_STASH}"
