# yaml-language-server: $schema=https://k8s-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  interval: 10m
  chart:
    spec:
      chart: prometheus-smartctl-exporter
      version: 0.16.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
  - name: kube-prometheus-stack
    namespace: observability
  values:
    fullnameOverride: *app
    config:
      devices:
      - /dev/sda
      - /dev/nvme0n1
    serviceMonitor:
      enabled: true
      relabelings:
      - action: replace
        regex: (.*)
        replacement: $1
        sourceLabels: ["__meta_kubernetes_pod_node_name"]
        targetLabel: kubernetes_node
    prometheusRules:
      enabled: false
