# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vector-aggregator
spec:
  interval: 10m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      vector-aggregator:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/timberio/vector
              tag: 0.52.0-alpine@sha256:4be91e938bc85ad1915c2d66f77342078904ca3391934d590c8f523e66613ad7
            args: ["--config", "/etc/vector/vector.yaml"]
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    defaultPodOptions:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    service:
      app:
        controller: vector-aggregator
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: vector.${HOME_DOMAIN}
          io.cilium/lb-ipam-ips: "${IPAM_IP_VECTOR}"
        ports:
          http:
            primary: true
            port: 8686
          journald:
            port: 6000
          kubernetes:
            port: 6010
    persistence:
      config:
        type: configMap
        name: vector-aggregator-configmap
        globalMounts:
        - path: /etc/vector/vector.yaml
          subPath: vector.yaml
          readOnly: true
      data:
        type: emptyDir
        globalMounts:
        - path: /vector-data-dir
