# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
# This component adds Authentik forward-auth annotations to ingresses
# Usage: Add to your app's kustomization.yaml:
#   components:
#   - ../../../../templates/authentik/forward-auth
patches:
- target:
    kind: Ingress
  patch: |-
    - op: add
      path: /metadata/annotations/nginx.ingress.kubernetes.io~1auth-url
      value: "http://ak-outpost-authentik-embedded-outpost.security.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx"
    - op: add
      path: /metadata/annotations/nginx.ingress.kubernetes.io~1auth-signin
      value: "https://auth.${HOME_DOMAIN}/outpost.goauthentik.io/start?rd=$escaped_request_uri"
    - op: add
      path: /metadata/annotations/nginx.ingress.kubernetes.io~1auth-response-headers
      value: "Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid"
    - op: add
      path: /metadata/annotations/nginx.ingress.kubernetes.io~1auth-snippet
      value: "auth_request_set $authentik_username $upstream_http_x_authentik_username; proxy_set_header X-Forwarded-User $authentik_username; proxy_set_header X-authentik-username $authentik_username; proxy_set_header X-Forwarded-Host $http_host;"
