# yaml-language-server: $schema=https://k8s-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://emberstack.github.io/helm-charts/
      chart: reflector
      version: 10.0.1
      sourceRef:
        kind: HelmRepository
        name: emberstack-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
