# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux Image Test"

on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  extract-images:
    name: Extract Images
    runs-on: ["ghar-set-zoo"]
    permissions:
      pull-requests: write
    outputs:
      matrix: ${{ steps.extract-images.outputs.images }}
    steps:
    - name: Generate Token
      uses: actions/create-github-app-token@c8f55efbd427e7465d6da1106e7979bc8aaee856 # v1.10.1
      id: app-token
      with:
        app-id: "${{ secrets.BOT_APP_ID }}"
        private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

    - name: Setup Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Setup Workflow Tools
      shell: bash
      run: brew install jo yq

    - name: Checkout Default Branch
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        token: "${{ steps.app-token.outputs.token }}"
        ref: "${{ github.event.repository.default_branch }}"
        path: default

    - name: Checkout Pull Request Branch
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        token: "${{ steps.app-token.outputs.token }}"
        path: pull

    - name: Gather Images in Default Branch
      uses: docker://ghcr.io/allenporter/flux-local:v5.3.1
      with:
        args: >-
          get cluster
          --path /github/workspace/default/kubernetes/flux
          --enable-images
          --output yaml
          --output-file default.yaml

    - name: Gather Images in Pull Request Branch
      uses: docker://ghcr.io/allenporter/flux-local:v5.3.1
      with:
        args: >-
          get cluster
          --path /github/workspace/pull//flux
          --enable-images
          --output yaml
          --output-file pull.yaml

    - name: Filter Default Branch Results
      shell: bash
      run: |
        yq -r '[.. | .images? | select(. != null)] | flatten | sort | unique | .[]' \
            default.yaml > default.txt

    - name: Filter Pull Request Branch Results
      shell: bash
      run: |
        yq -r '[.. | .images? | select(. != null)] | flatten | sort | unique | .[]' \
            pull.yaml > pull.txt

    - name: Compare Default and Pull Request Images
      id: extract-images
      shell: bash
      run: |
        images=$(jo -a $(grep -vf default.txt pull.txt))
        echo "images=${images}" >> $GITHUB_OUTPUT
        echo "${images}"
        echo "### Images" >> $GITHUB_STEP_SUMMARY
        echo "${images}" | jq -r 'to_entries[] | "* \(.value)"' >> $GITHUB_STEP_SUMMARY

  test-images:
    if: ${{ needs.extract-images.outputs.matrix != '[]' }}
    name: Test images
    runs-on: ["ghar-set-zoo"]
    needs: ["extract-images"]
    strategy:
      matrix:
        images: ${{ fromJSON(needs.extract-images.outputs.matrix) }}
      max-parallel: 4
      fail-fast: false
    steps:
    - name: Inspect Image
      run: docker manifest inspect ${{ matrix.images }}

  # Summarize matrix https://github.community/t/status-check-for-a-matrix-jobs/127354/7
  test-images-success:
    if: ${{ always() }}
    needs: ["test-images"]
    name: Test Images Successful
    runs-on: ["ghar-set-zoo"]
    steps:
    - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
      name: Check matrix status
      run: exit 1
