# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Meta - Flux Diff"

on:
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  flux-diff:
    name: Flux Diff
    runs-on: ["ghar-set-zoo"]
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        paths: ["kubernetes"]
        resources: ["helmrelease", "kustomization"]
    steps:
    - name: Generate Token
      uses: actions/create-github-app-token@v1
      id: app-token
      with:
        app-id: "${{ secrets.BOT_APP_ID }}"
        private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

    - name: Checkout
      uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      with:
        token: "${{ steps.app-token.outputs.token }}"
        path: pull

    - name: Checkout Default Branch
      uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      with:
        token: "${{ steps.app-token.outputs.token }}"
        ref: "${{ github.event.repository.default_branch }}"
        path: default

    - name: Diff Resources
      uses: docker://ghcr.io/allenporter/flux-local:main@sha256:c6187c986dd27274d93eec204254635a96542f5628691398d59823b45cc6e1f5
      with:
        args: >-
          diff ${{ matrix.resources }}
          --unified 6
          --path /github/workspace/pull/${{ matrix.paths }}/flux
          --path-orig /github/workspace/default/${{ matrix.paths }}/flux
          --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
          --limit-bytes 10000
          --all-namespaces
          --sources "home-kubernetes"
          --output-file diff.patch

    - name: Generate Diff
      id: diff
      run: |
        echo "diff<<EOF" >> $GITHUB_OUTPUT
        cat diff.patch >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT
        echo "### Diff" >> $GITHUB_STEP_SUMMARY
        echo '```diff' >> $GITHUB_STEP_SUMMARY
        cat diff.patch >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY

    - if: ${{ steps.diff.outputs.diff != '' }}
      name: Add comment
      uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
      with:
        repo-token: "${{ steps.app-token.outputs.token }}"
        message-id: "${{ github.event.pull_request.number }}/${{ matrix.paths }}/${{ matrix.resources }}"
        message-failure: Diff was not successful
        message: |
          ```diff
          ${{ steps.diff.outputs.diff }}
          ```
