# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Meta - Flux Helm Repository Sync"

on:
  workflow_dispatch:
    inputs:
      helmRepoNamespace:
        description: Helm Repository Namespace
        default: flux-system
        required: true
      helmRepoName:
        description: Helm Repository Name
        required: true
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**/helmrelease.yaml"]

jobs:
  sync:
    name: Flux Helm Repository Sync
    runs-on: ["ghar-set-zoo"]
    steps:
    - name: Generate Token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
      id: app-token
      with:
        app-id: "${{ secrets.BOT_APP_ID }}"
        private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        token: "${{ steps.app-token.outputs.token }}"
        fetch-depth: 0

    - name: Setup Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Setup Workflow Tools
      shell: bash
      run: brew install fluxcd/tap/flux yq

    - name: Write kubeconfig
      id: kubeconfig
      uses: timheuer/base64-to-file@adaa40c0c581f276132199d4cf60afa07ce60eac # v1
      with:
        encodedString: "${{ secrets.KUBECONFIG }}"
        fileName: kubeconfig

    - if: ${{ github.event.inputs.helmRepoNamespace == '' && github.event.inputs.helmRepoName == '' }}
      name: Get Changed Files
      id: changed-files
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
      with:
        files: kubernetes/**/helmrelease.yaml
        safe_output: false

    - if: ${{ github.event.inputs.helmRepoNamespace == '' && github.event.inputs.helmRepoName == '' }}
      name: List All Changed Files
      run: echo "${{ steps.changed-files.outputs.all_changed_and_modified_files }}"

    - if: ${{ github.event.inputs.helmRepoNamespace == '' && github.event.inputs.helmRepoName == '' }}
      name: Sync Helm Repository
      env:
        KUBECONFIG: "${{ steps.kubeconfig.outputs.filePath }}"
      shell: bash
      run: |
        declare -a repos=()
        for f in ${{ steps.changed-files.outputs.all_changed_and_modified_files }}; do
            cluster_name="admin@titans"
            repo_namespace="$(yq -r '.spec.chart.spec.sourceRef.namespace' "${f}")"
            repo_name="$(yq -r '.spec.chart.spec.sourceRef.name' "${f}")"
            repos+=("${cluster_name}:${repo_namespace}:${repo_name}")
        done
        mapfile -t repos < <(printf "%s\n" "${repos[@]}" | sort -u)
        for r in "${repos[@]}"; do
            IFS=':' read -r cluster_name repo_namespace repo_name <<< "${r}"
            flux \
                --context ${cluster_name} \
                --namespace ${repo_namespace} \
                reconcile source helm ${repo_name}
        done

    - if: ${{ github.event.inputs.helmRepoNamespace != '' && github.event.inputs.helmRepoName != '' }}
      name: Sync Helm Repository
      env:
        KUBECONFIG: ${{ steps.kubeconfig.outputs.filePath }}
      shell: bash
      run: |
        flux \
            --context "admin@titans" \
            --namespace ${{ github.event.inputs.helmRepoNamespace }} \
            reconcile source helm ${{ github.event.inputs.helmRepoName }}
