# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Schedule - Publish Schemas"

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * 0"
  pull_request:
    branches: ["main"]
    paths:
    - ".github/workflows/publish-schemas.yaml"
    - ".github/workflows/resources/k8s-schemas.sh"
    - ".github/workflows/resources/k8s-schema-hacks.sh"
    - ".github/workflows/resources/schema-hacks/*"
    - ".github/workflows/resources/schemas/*"
  push:
    branches: ["main"]
    paths:
    - ".github/workflows/publish-schemas.yaml"
    - ".github/workflows/resources/k8s-schemas.sh"
    - ".github/workflows/resources/k8s-schema-hacks.sh"
    - ".github/workflows/resources/schema-hacks/*"
    - ".github/workflows/resources/schemas/*"
jobs:
  publish-schemas:
    name: Publish Schemas
    runs-on: ["ghar-set-zoo"]
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"

    - name: Setup Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Setup Workflow Tools
      shell: bash
      run: brew install kubectl yq jq

    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x

    - name: Setup Node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 18.x

    - name: Write kubeconfig
      id: kubeconfig
      uses: timheuer/base64-to-file@784a1a4a994315802b7d8e2084e116e783d157be # v1.2.4
      with:
        encodedString: "${{ secrets.KUBECONFIG }}"
        fileName: kubeconfig

    - name: Install Python Dependencies
      run: |
        echo 'Cython < 3.0' > /tmp/constraint.txt
        PIP_CONSTRAINT=/tmp/constraint.txt python -m pip install pyyaml==5.4.1
        pip install openapi2jsonschema

    - name: Download and run crd-extractor
      env:
        KUBECONFIG: "${{ steps.kubeconfig.outputs.filePath }}"
      shell: bash
      run: |
        curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/43e4407642d4c37683c88711f37caa6c9c20ca40/Utilities/crd-extractor.sh | bash

    - name: Run k8s-schemas
      shell: bash
      run: |
        mkdir -p /home/runner/schemas/kubernetes
        mkdir -p /home/runner/schemas/hacks
        ./.github/workflows/resources/k8s-schemas.sh
        ./.github/workflows/resources/k8s-schema-hacks.sh
        mv /home/runner/.datree/crdSchemas/* /home/runner/schemas
        mv ./.github/workflows/resources/schemas/* /home/runner/schemas/hacks

    - name: Deploy to Cloudflare Pages
      uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
      with:
        apiToken: "${{ secrets.CLOUDFLARE_API_TOKEN }}"
        accountId: "${{ secrets.CLOUDFLARE_ACCOUNT_ID }}"
        workingDirectory: /home/runner/schemas
        command: pages deploy --project-name=k8s-schemas --branch main .
