# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Schedule - Publish Schemas"

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * 0"
  push:
    branches: ["main"]
    paths: [".github/workflows/publish-schemas.yaml", ".github/workflows/resources/k8s-schemas.sh"]

jobs:
  publish-schemas:
    name: Publish Schemas
    runs-on: ["ghar-set-zoo"]
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"

    - name: Setup Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Setup Workflow Tools
      shell: bash
      run: brew install kubectl

    - name: Setup Python
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
      with:
        python-version: 3.x

    - name: Setup Node
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: 18.x

    - name: Write kubeconfig
      id: kubeconfig
      uses: timheuer/base64-to-file@784a1a4a994315802b7d8e2084e116e783d157be # v1.2.4
      with:
        encodedString: "${{ secrets.KUBECONFIG }}"
        fileName: kubeconfig

    - name: Download and run crd-extractor
      env:
        KUBECONFIG: "${{ steps.kubeconfig.outputs.filePath }}"
      shell: bash
      run: |
        curl -fsSL -o $GITHUB_WORKSPACE/crd-extractor.sh \
            https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/Utilities/crd-extractor.sh
        chmod +x $GITHUB_WORKSPACE/crd-extractor.sh
        bash $GITHUB_WORKSPACE/crd-extractor.sh

    - name: Run k8s-schemas
      shell: bash
      run: |
        mkdir -p /home/runner/schemas/kubernetes
        echo 'Cython < 3.0' > /tmp/constraint.txt
        PIP_CONSTRAINT=/tmp/constraint.txt python -m pip install pyyaml==5.4.1
        pip install openapi2jsonschema
        ./.github/workflows/resources/k8s-schemas.sh
        mv /home/runner/.datree/crdSchemas/* /home/runner/schemas

    - name: Deploy to Cloudflare Pages
      uses: cloudflare/wrangler-action@f84a562284fc78278ff9052435d9526f9c718361 # v3.7.0
      with:
        apiToken: "${{ secrets.CLOUDFLARE_API_TOKEN }}"
        accountId: "${{ secrets.CLOUDFLARE_ACCOUNT_ID }}"
        workingDirectory: /home/runner/schemas
        command: pages deploy --project-name=k8s-schemas --branch main .
