# yaml-language-server: $schema=https://k8s-schemas.pages.dev/cilium.io/ciliumbgpclusterconfig_v2.json
# Migration from CiliumBGPPeeringPolicy (v1) to BGPv2
# See: https://docs.cilium.io/en/v1.19/network/bgp-control-plane/bgp-control-plane-configuration/
apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: cilium-bgp
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
  bgpInstances:
    - name: "instance-65001"
      localASN: 65001
      peers:
        - name: "unifi-gateway"
          peerASN: 65000
          peerAddress: ${IPAM_IP_GATEWAY}
          peerConfigRef:
            name: "cilium-peer"
